# MY HOMEWORK

Question 1

1. Interchange the first and second last element of the list.
    List = [2,7,8,7,9,3,5,4,1,0,11,12,17]

In [5]:
list1 = [2,7,8,7,9,3,5,4,1,0,11,12,17]
r=list1[0]
list1[0]=list1[len(list1)-2]
list1[len(list1)-2]=r
print(list1)

[12, 7, 8, 7, 9, 3, 5, 4, 1, 0, 11, 2, 17]

Question 2. 
Find the fifth smallest number from the list.
    List: [11,2,67,6,26,5,4,76,77]

In [14]:
r=[11,2,67,6,26,5,4,76,77]
r_sorted=sorted(r)
print(r_sorted)
print(r_sorted[4])

[2, 4, 5, 6, 11, 26, 67, 76, 77]
11

Question 3
Replace the last element in a list with another list.
    Original List: [1, 3, 5, 8, 10, 9]    List to add:  [2, 7, 9]
    Expected Output: [1, 3, 5, 8, 10, 2, 7, 9]

In [20]:
Original_List=[1, 3, 5, 8, 10, 9]    
List_to_add=[2, 7, 9]
Original_List.pop(len(Original_List)-1)
Original_List.extend(List_to_add)
print(Original_List)

[1, 3, 5, 8, 10, 2, 7, 9]

QUESTION 4
4. Sort the list and pickup first three values and append to the sorted list.
    List: [12,3,4,98,100,75]

In [21]:
l=[12,3,4,98,100,75]
l.sort()
l.append(l[0])
l.append(l[1])
l.append(l[2])
print(l)

[3, 4, 12, 75, 98, 100, 3, 4, 12]

QUESTION 5
5. Find mean of items in the list and check whether mean is present in the list.
    List: [1, 2, 5, 8, 9, 10, 0].

In [23]:
l= [1, 2, 5, 8, 9, 10, 0]
mean=0
for i in range(len(l)-1):
    mean=mean+l[i]
    
mean/=len(l)
print(mean)
if mean in l:
    print('YES')
else:
    print("NO")

5.0
YES

QUESTION
6. Given two strings, append each of those strings to two different empty list. Multiply those list by the length of the string present in the corresponding list and then concatenate the two lists.
    String 1: “Hello”  String 2: “Ryan”
    Expected Output: ['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

In [17]:
String1="Hello"
String2="Ryan"
t=[]
y=[]
g=[]

t.append(String1)
y.append(String2)
t=t*len(String1)
y=y*len(String2)
t=t+y
print(t)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

QUESTION
7. Remove the first occurrence of the given string from the list and replace it with its reverse string.
    List: [‘Hello’, ‘John’, ‘Noice’, ‘Hello’, ‘again’, ‘Hello’]
    String: Hello

In [29]:
list_string=['John', 'Noice', 'Hello', 'again', 'Hello','Hello'] 
for i in list_string:
    if i=="Hello":
        k=list_string.index(i)
        break
g=list_string[k]
g=g[::-1]
list_string.insert(k,g)
list_string.pop(k+1)
print(list_string)

['John', 'Noice', 'olleH', 'again', 'Hello', 'Hello']

In [80]:

x = ["sun",[17],2,"king",[3,4]] # Statement 1
y = x[0:8]                      # Statement 2
print("y is ",y)
z = x                           # Statement 3
print("z is ",z)
w = y                           # Statement 4
print("w is",w)
x[0] = 0                        # Statement 5
print("z is ",z)

y[0] = y[0][0:3] + 'k'          # Statement 6
y[1][1:3] = [5,8] 
w[4][0] = 1000                  # Statement 9
a = (x[4][1] == 4)              # Statement 10
print("z is ",z)
print("x is ",x)
print("y is",y)
print("w is",w)
print(a)

y is  ['sun', [17], 2, 'king', [3, 4]]
z is  ['sun', [17], 2, 'king', [3, 4]]
w is ['sun', [17], 2, 'king', [3, 4]]
z is  [0, [17], 2, 'king', [3, 4]]
z is  [0, [17, 5, 8], 2, 'king', [1000, 4]]
x is  [0, [17, 5, 8], 2, 'king', [1000, 4]]
y is ['sunk', [17, 5, 8], 2, 'king', [1000, 4]]
w is ['sunk', [17, 5, 8], 2, 'king', [1000, 4]]
True

In [82]:
x = [589,'big',397,'bash']
y = x[2:]
u = x
w = y
w = w[0:]
w[0] = 357
x[2:3] = [487]
print(x[2],y[0],w[0],u[2])

487 397 357 487

In [85]:
first = "kaleidoscope"
second = ""
for i in range(len(first)-1,-1,-2):
    second = first[i]+second
    print(second)
second

e
oe
soe
dsoe
edsoe
aedsoe

'aedsoe'

In [86]:
for i in range(len(first)-1,-1,-2):
    print(i)

11
9
7
5
3
1

In [88]:
def mystery(l):
    l[0:2] = l[3:5]
    return()
list1 = [34,17,12,88,53,97,62]
mystery(list1)
print(list1)

[88, 53, 12, 88, 53, 97, 62]