# MY HOMEWORK

Question 1

1. Interchange the first and second last element of the list.
    List = [2,7,8,7,9,3,5,4,1,0,11,12,17]

In [5]:
list1 = [2,7,8,7,9,3,5,4,1,0,11,12,17]
r=list1[0]
list1[0]=list1[len(list1)-2]
list1[len(list1)-2]=r
print(list1)

[12, 7, 8, 7, 9, 3, 5, 4, 1, 0, 11, 2, 17]

Question 2. 
Find the fifth smallest number from the list.
    List: [11,2,67,6,26,5,4,76,77]

In [14]:
r=[11,2,67,6,26,5,4,76,77]
r_sorted=sorted(r)
print(r_sorted)
print(r_sorted[4])

[2, 4, 5, 6, 11, 26, 67, 76, 77]
11

Question 3
Replace the last element in a list with another list.
    Original List: [1, 3, 5, 8, 10, 9]    List to add:  [2, 7, 9]
    Expected Output: [1, 3, 5, 8, 10, 2, 7, 9]

In [20]:
Original_List=[1, 3, 5, 8, 10, 9]    
List_to_add=[2, 7, 9]
Original_List.pop(len(Original_List)-1)
Original_List.extend(List_to_add)
print(Original_List)

[1, 3, 5, 8, 10, 2, 7, 9]

QUESTION 4
4. Sort the list and pickup first three values and append to the sorted list.
    List: [12,3,4,98,100,75]

In [21]:
l=[12,3,4,98,100,75]
l.sort()
l.append(l[0])
l.append(l[1])
l.append(l[2])
print(l)

[3, 4, 12, 75, 98, 100, 3, 4, 12]

QUESTION 5
5. Find mean of items in the list and check whether mean is present in the list.
    List: [1, 2, 5, 8, 9, 10, 0].

In [23]:
l= [1, 2, 5, 8, 9, 10, 0]
mean=0
for i in range(len(l)-1):
    mean=mean+l[i]
    
mean/=len(l)
print(mean)
if mean in l:
    print('YES')
else:
    print("NO")

5.0
YES

QUESTION
6. Given two strings, append each of those strings to two different empty list. Multiply those list by the length of the string present in the corresponding list and then concatenate the two lists.
    String 1: “Hello”  String 2: “Ryan”
    Expected Output: ['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

In [17]:
String1="Hello"
String2="Ryan"
t=[]
y=[]
g=[]

t.append(String1)
y.append(String2)
t=t*len(String1)
y=y*len(String2)
t=t+y
print(t)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

QUESTION
7. Remove the first occurrence of the given string from the list and replace it with its reverse string.
    List: [‘Hello’, ‘John’, ‘Noice’, ‘Hello’, ‘again’, ‘Hello’]
    String: Hello

In [29]:
list_string=['John', 'Noice', 'Hello', 'again', 'Hello','Hello'] 
for i in list_string:
    if i=="Hello":
        k=list_string.index(i)
        break
g=list_string[k]
g=g[::-1]
list_string.insert(k,g)
list_string.pop(k+1)
print(list_string)

['John', 'Noice', 'olleH', 'again', 'Hello', 'Hello']

In [80]:

x = ["sun",[17],2,"king",[3,4]] # Statement 1
y = x[0:8]                      # Statement 2
print("y is ",y)
z = x                           # Statement 3
print("z is ",z)
w = y                           # Statement 4
print("w is",w)
x[0] = 0                        # Statement 5
print("z is ",z)

y[0] = y[0][0:3] + 'k'          # Statement 6
y[1][1:3] = [5,8] 
w[4][0] = 1000                  # Statement 9
a = (x[4][1] == 4)              # Statement 10
print("z is ",z)
print("x is ",x)
print("y is",y)
print("w is",w)
print(a)

y is  ['sun', [17], 2, 'king', [3, 4]]
z is  ['sun', [17], 2, 'king', [3, 4]]
w is ['sun', [17], 2, 'king', [3, 4]]
z is  [0, [17], 2, 'king', [3, 4]]
z is  [0, [17, 5, 8], 2, 'king', [1000, 4]]
x is  [0, [17, 5, 8], 2, 'king', [1000, 4]]
y is ['sunk', [17, 5, 8], 2, 'king', [1000, 4]]
w is ['sunk', [17, 5, 8], 2, 'king', [1000, 4]]
True

In [82]:
x = [589,'big',397,'bash']
y = x[2:]
u = x
w = y
w = w[0:]
w[0] = 357
x[2:3] = [487]
print(x[2],y[0],w[0],u[2])

487 397 357 487

In [85]:
first = "kaleidoscope"
second = ""
for i in range(len(first)-1,-1,-2):
    second = first[i]+second
    print(second)
second

e
oe
soe
dsoe
edsoe
aedsoe

'aedsoe'

In [86]:
for i in range(len(first)-1,-1,-2):
    print(i)

11
9
7
5
3
1

In [88]:
def mystery(l):
    l[0:2] = l[3:5]
    return()
list1 = [34,17,12,88,53,97,62]
mystery(list1)
print(list1)

[88, 53, 12, 88, 53, 97, 62]

# Only read these n try we will solve in next class:

Que 1 )Define a Python function remdup(l) that takes a nonempty list of integers l and removes all duplicates in l, keeping only the last occurrence of each number. For instance:
>>> remdup([3,1,3,5])
[1, 3, 5]

>>> remdup([7,3,-1,-5])
[7, 3, -1, -5]

>>> remdup([3,5,7,5,3,7,10])
[5, 3, 7, 10]

In [33]:
def remdup(l):
    if len(l)<=1:
        return l
    if l[0] in l[1:]:
        return remdup(l[1:])
    else:
        return [l[0]]+remdup(l[1:])
l=[3,5,7,5,3,7,10]
print(remdup(l))

[5, 3, 7, 10]

Que 2)Write a Python function splitsum(l) that takes a nonempty list of integers and returns a list [pos,neg], where pos is the sum of squares all the positive numbers in l and neg is the sum of cubes of all the negative numbers in l.
Here are some examples to show how your function should work.
splitsum([1,3,-5])

[10, -125]

 splitsum([2,4,6])
 
[56, 0]

 splitsum([-19,-7,-6,0])
 
[0, -7418]

 splitsum([-1,2,3,-7])
 
[13, -344]

In [57]:
def splitsum(l):
    s=[]
    j=0
    p=0
    for i in l:
        if i>0:
            p=p+i**2
        else:
            j=j+i**3
    return [p]+[j]
#l=[1,3,-5]
l=[-19,-7,-6,0]
print(splitsum(l))

[0, -7418]

Que 3)

A two dimensional matrix can be represented in Python row-wise, as a list of lists: each inner list represents one row of the matrix. For instance, the matrix
1  2  3
4  5  6 
7  8  9

would be represented as [[1, 2, 3], [4, 5, 6], [7, 8, 9]].
A horizonatal flip reflects each row. For instance, if we flip the previous matrix horizontally, we get
3  2  1
6  5  4 
9  8  7

which would be represented as [[3, 2, 1], [6, 5, 4], [9, 8, 7]].
A vertical flip reflects each column. For instance, if we flip the previous matrix that has already been flipped horizontally, we get
9  8  7
6  5  4 
3  2  1

which would be represented as [[9, 8, 7], [6, 5, 4], [3, 2, 1]].
Write a Python function matrixflip(m,d) that takes as input a two dimensional matrix m and a direction d, where d is either 'h' or 'v'. If d == 'h', the function should return the matrix flipped horizontally. If d == 'v', the function should retun the matrix flipped vertically. For any other value of d, the function should return m unchanged. In all cases, the argument m should remain undisturbed by the function.
Here are some examples to show how your function should work. You may assume that the input to the function is always a non-empty matrix.
myl = [[1,2],[3,4]]

myl

[[1, 2], [3, 4]]  

matrixflip(myl,'h')

[[2, 1], [4, 3]]

myl

[[1, 2], [3, 4]]  

matrixflip(myl,'v')

[[3, 4], [1, 2]]  

myl

[[1, 2], [3, 4]]  

matrixflip(matrixflip(myl,'h'),'v')

[[4, 3], [2, 1]]

myl

[[1, 2], [3, 4]]  

matrixflip(matrixflip(myl,'h'),'v')

[[4, 3], [2, 1]]

 myl

[[1, 2], [3, 4]]

In [78]:
def matrix_flip(l,d):
    out=[]
    for i in l:
        out.append(i)
    if d=='h':
        for i in out:
            i.reverse()
    else:
        out.reverse()
    return out
        
l=[[4, 3], [2, 1]]
print(matrix_flip(l,'v'))

[[2, 1], [4, 3]]

25/6/2021 Day2
Dictionary

1. Merge two dictionaries.

    Dict_1: {“FirstName”:”Rahul”, “age”:9}       
    
    Dict2: {“LastName”:”Vaidya”, “class”:10}

In [9]:
Dict_1={"FirstName":"Rahul", "age":9}

Dict2={"LastName":"Vaidya", "class":10}
Dict_1.update(Dict2)
print(Dict_1)

{'FirstName': 'Rahul', 'age': 9, 'LastName': 'Vaidya', 'class': 10}

2. Sum all the values of keys in a dictionary.

    Dictionary: {1:2, 3:4, 5:6, 7:8}

In [19]:
Dictionary={1:2, 3:4, 5:6, 7:8}
qw=[]
sum=0
qw=(Dictionary.keys())
for i in qw:
    sum=sum+i
    
print(sum)

16

3. Count the values associated with each key in a dictionary. If number of values associated with any key is greater than equal to 5, remove the last element from that value.

    Dictionary: {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5,6], 4:[1,2]}

    Output: {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5], 4:[1,2]}

In [7]:
Dictionary={1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5,6], 4:[1,2]}
h=Dictionary.values()
for i in h:
    if len(i)>=5:
        i.pop()
        
print(Dictionary)

{1: [1, 2, 3], 2: [2, 3, 4, 5], 3: [2, 3, 4, 5], 4: [1, 2]}

4. Make a list of unique values from dictionary values.

    Dictionary: {“apple”: 1, “mango”: 2, “orange”:1, “banana”:2}

In [13]:
Dictionary= {'apple': 1, 'mango': 2, 'orange':1, 'banana':2}
print(list(set(Dictionary.values())))

[1, 2]

5. Make a dictionary. The items in the list should be keys in the dictionary and their corresponding index should be values of the keys.

    [2,68,7,8,98,70]

In [33]:
kl=dict({})
key=[2,68,7,8,98,70]
for i in key:
    kl[i]=key.index(i)
print(kl)

{2: 0, 68: 1, 7: 2, 8: 3, 98: 4, 70: 5}

6. Access the value of key ‘python2’:

sampleDict = { 

   "sabudh":{ 

      "intern":{ 

         "name":"Mike",

         "marks":{ 

            "python1":70,

            "python2":80

         }

      }

   }

}

In [87]:
sampleDict = {"sabudh":{ "intern":{ "name":"Mike","marks":{"python1":70,"python2":80} }}}
sampleDict.values()
fg=dict({})
for i in sampleDict.values():
    for j in i.values():
        w=j.pop('marks')
print(w['python2'])

80

7.  Check if a value ‘bunny’ exists in a dictionary:

sampleDict = {'a': ‘antelope’, 'b': ‘bunny’, 'c': ‘cat’}

In [89]:
sampleDict = {'a': 'antelope', 'b': 'bunny', 'c': 'cat'}
if 'bunny' in sampleDict.values():
    print('YES')
else:
    print("NO")

YES

# TUPLE

### 1.  Create a tuple with single item 50.

In [14]:
y=[50]
tuple(y)

(50,)

### 2. Access value 20 from the following tuple:
	aTuple = ("Orange", [10, ( 20, 30), 40], (5, 15, 25)).

In [16]:
aTuple = ("Orange", [10, ( 20, 30), 40], (5, 15, 25))
aTuple[1][1][0]

20

### 3. Copy element 44 and 55 from the following tuple into a new empty tuple
 	tuple1 = (11, 22, 33, 44, 55, 66)

In [19]:
tuple1 = (11, 22, 33, 44, 55, 66)
t=tuple1[3:5]
print(t)

(44, 55)

#### 4. Counts the number of occurrences of integer 50 from a tuple(considering mutable elements too.)
 	tuple1 = (50, 10, 60, [40, 50, 60], 70, 50)

In [24]:
tuple1 = (50, 10, 60, [40, 50, 60], 70, 50)
tuple1.count(50)
count=0
for  i in tuple1:
    if type(i)==int and i==50:
        count+=1
    elif type(i)==list:
        for j in i:
            if j==50:
                count+=1
print(count)

3

### 5. Swap the following two tuples: 
        tuple1 = (11, 22, 33, 44, 55)
        tuple2 = (99, 88, 77, 66, 00)
    Out: tuple1 = (99, 88, 77, 66, 00)
         tuple2 = (11, 22, 33, 44, 55)

In [28]:
tuple1 = (11, 22, 33, 44, 55)
tuple2 = (99, 88, 77, 66, 0)
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88, 77, 66, 0)
(11, 22, 33, 44, 55)

### 6. Replace item 8 with “Python Programming”.
	my_tuple = (9, 10, “hi”, [7, 8])
	Out : (9, 10, “hi”, [7, “Python Programming”])

In [30]:
my_tuple = (9, 10, "hi", [7, 8])
my_tuple[3][1]="Python Programming"
my_tuple

(9, 10, 'hi', [7, 'Python Programming'])

### 7. Original tuple: (10, 20, 40, 5, 70)
	Convert the said tuple of positive integers into an integer:
	Expected out: 102040570

In [42]:
Original_tuple=(10, 20, 40, 5, 70)
    
print(*Original_tuple,sep='')

102040570

### 8. Check if a specified element presents in a tuple of tuples.
	Original tuple: (('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
	Check if White presenet in said tuple of tuples!
	Check if White presenet in said tuple of tuples!
	Check if Olive presenet in said tuple of tuples!

In [51]:
Original_tuple= (('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
for i in range(3):
    for j in range(3):
        if Original_tuple[i][j]=='White':
            print(Original_tuple[i][j],"tuple of tuples!")
        """elif Original_tuple[i][j]=='Olive':
            print(Original_tuple[i][j],"tuple of tuples!")
        else:
            print(Original_tuple[i][j]," NOT in tuple of tuples!")"""

White tuple of tuples!

# SETS

### A = {1,5, 3, 7}
   B = {2, 4, 6, 8}
   Given set = {1, 3, 7, 6, 8}

In [54]:
A = {1,5, 3, 7}
B = {2, 4, 6, 8}
Given_set = {1, 3, 7, 6, 8}
happiness=0
for i in Given_set:
    if i in A:
        happiness+=1
    if i in B:
        happiness-=1
        
print(happiness)

1

### 2. Check if a set A is a subset of set B.
A = {“a”, “b”, “c”,”e”}
B = {“a”, “c”, “d”, “b”, “e”, “f”}

In [56]:
A={'a','b','c','e'}
B={'a','b','c','d','e','f'}
A.issubset(B)

True

### 3. Store all the unique elements present in the given list in variable unique_elem.
list_1 = [1, 2, 2, 3, 4, 5, 3, 5, 5, 5, 3]

In [58]:
list_1 = [1, 2, 2, 3, 4, 5, 3, 5, 5, 5, 3]
set(list_1)

{1, 2, 3, 4, 5}

### 4. Check if two given sets have no elements in common.
A = {“dad”, “bought”, “me”, “grapes”}
B = {“grapes”, “are”, “sour”}

In [63]:
A = {'dad', 'bought', 'me', 'grapes'}
B = {'grapes', 'are', "sour"}
for i in A:
    if i in B:
        print(i," is common")

grapes  is common

### 5. Remove the intersection of a 2nd set from the 1st set. 
A = {1, 8, 9, 10, 27}             B = {9, 8, 15, 78}

In [64]:
A = {1, 8, 9, 10, 27}
B = {9, 8, 15, 78}
A&B

{8, 9}

### 6. Add elements of list to the given set.
A = {“1st”, “2nd”, 3rd”}
list_1 = [“Austria”, “America”, “Australia”]

In [68]:
A = {'1st', '2nd','3rd'}
list_1 = ['Austria', 'America', 'Australia']
B=set(list_1)
A|B
A.update(list_1)
print(A)

None
{'1st', 'Austria', 'America', '3rd', 'Australia', '2nd'}

### 7. Remove green, blue, black elements from a following set at once
set1 = {“green”, “blue”, “black”, “yellow”, “orange”}

In [69]:
set1 = {'green', 'blue', 'black', 'yellow', 'orange'}
a={'green','blue','black'}
set1-a

{'orange', 'yellow'}

### 8. Print True, if is a strict superset of each of the sets. Otherwise, print False. A strict superset has at least one element that does not exist in its subset.
Example
Set A ({1,6, 7}) is a strict superset of  set B ({1,7}) .
Set A ({1,6, 7}) is not a strict superset of set C ({1, 6, 7})

In [85]:
Set_A ={1,6, 7}
set_B={1,7}
    
if len(Set_A-set_B)>0:
    print("True")
else:
    print("False")

True

# 17/7/2021
   
Home Work

### 1.Check whether the following numbers are palindrome: 123, 1571, 818.

In [103]:
def palidrome(s):
    for i in s:
        if i==i[::-1]:
            print("Palidrome")
        else:
            print("Not Palidrome")
        
s=['123','1571','818']
palidrome(s)

Not Palidrome
Not Palidrome
Palidrome

2. Print the pattern

*
* *
* * *
* * * *
* * *
* *
*

In [148]:
for  i in range(7):
    for j in range(4):
        if j+i<=6 and j<=i:
            print("*",end=" ")
            
    print("\n")

*

* *

* * *

* * * *

* * *

* *

*